html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #fdf3c5;
    font-family: 'heinekenregular';
    overflow: hidden;

}
footer{
    border-top:1rem solid #fde37e;
    background: #a51318;
    width: 100%;
    height: 5rem;
}
@font-face {
    font-family: 'heinekenregular';
    src: url('../fonts/heinekenHeineken.eot');
    src: url('../fonts/heinekenHeineken.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heinekenHeineken.woff2') format('woff2'),
         url('../fonts/heinekenHeineken.woff') format('woff'),
         url('../fonts/heinekenHeineken.svg#heinekenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Color #49b6c2 Blue - #fde37e Orange - #a51318 Red */
/*  font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif; */

/** Utilites **/
.container {
    width: 97%;
    margin: 0 auto;
}
@media (min-width: 480px) {
    .container {
        width: 95%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 92%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 90%;
        max-width: 1100px;
    }
}
.section {
    padding: 3rem 0;
}
.bg {
    background: #fdf3c5;
}
.line-black {
    background-color: black;
    height: 1rem;
    width: 100%;
}
.line-blue {
    background-color: #49b6c2;
    height: .2rem;
    width: 100%;
}

/* Main-Page */
.main-page {
    height: 100vh;
    overflow: auto;
}

/** Header-Nav **/
.bar {
    background-color: #a51318;
}
.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
    height: 6rem;
}
.main-nav a {   
    font-family: 'heinekenregular';
    color: white;
    font-size: 2rem;
    font-weight: lighter;
    margin-right: 3rem;
    text-decoration: none;
    transition: all .3s linear;
}
.main-nav a:last-of-type {
    margin-right: 0;
}
.main-nav a:hover {
    color: black;
    text-decoration: underline;
    padding-bottom: 1rem;
}

/** Main **/
.main-content {
    display: flex;
    height: 75vh;
}
.video {
    background-image: url(../img/SM-1.jpg);
    background-size: cover;
    background-position: center;
}
.addres {
    position: relative;
    flex-basis: 20%;
    padding-top: 30vh;
}
.addres p {
    transform: rotate(-90deg);
}
.addres a {
    text-decoration: none;
    color: white;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: 'heinekenregular';
    font-size: 2rem;
}
.addres i {
    transform: rotate(90deg);
    padding: 1.2rem 0 0 1.2rem;
    font-size: 2.3rem;
}
.title {
    position: relative;
    flex-basis: 50%;
    width: 69%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title img {
    width: 70rem;
}
.promo{
    position: absolute;
    flex-basis: 25%;
    top: 35%;
    right: -25rem;
    background: #a51318;
    padding-left: 4.8rem;
    border-radius: 1rem;
}
.promo .thumb {
    width: 25rem;
    background: #a51318;

}
.promo .thumb h2{
    font-size: 4rem;
    font-family: 'heinekenregular';
    font-weight: 700;
    position: absolute;
    color: #fdf3c5;
    transform: rotate(-90deg);
    top :24%;
    left: -5.5rem;
}
.promo .thumb img{
    width: 100%;
    height: 20rem;
    vertical-align: top;
}
.texto-promo{
    text-align: center;
    color: #fdf3c5;
    font-family: 'heinekenregular';
    background: #a51318;
    border: 0px solid #000000;
    border-radius: 0px 0px 0px 2rem;
    width: 25rem;
    height: 14rem;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
}
.texto-promo p{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: .5rem;
    line-height: 2.5rem;
}
.texto-promo p span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/** Banner **/
.banner {
    background-image: url(../img/SM-4.jpg);
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.location {
    background: #fdf3c5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.location h3{
    color: #a51318;
    font-size: 2rem;
    font-weight: 700;
}
.titulo{
    width: 100%;
    padding-bottom: 1rem;
    border: #a51318;
    border-bottom: 2px solid #a51318;
}
.location p{
    color: #a51318;
    font-size: 2rem;
    font-weight: 400;
}
.location .texto{
    grid-column: 2/12;
    grid-row: 1/2;
    display: flex;
    align-items: flex-end;
}
.location .map{
    grid-row: 2/8;
    grid-column: 2/12;
    border: 1rem solid #a51318;
    border-radius: 1rem;
    height:70%;
}
.location .texto-2{
    margin-top: 2rem;
    grid-row: 6/8;
    grid-column: 2/12;
}
.location .map iframe {
    width: 100%;
    min-width: 10rem;
    height: 100%;

}
.location .parrafos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/** Nosotros **/
.main-about-us {
    font-family: 'Open Sans', sans-serif;
}
.line-about-us {
    position: relative;
    background-color: #a51318;
    width: 20%;
    height: .5rem;
    margin-top: 5rem;
}
.m-top {
    margin-top: -1.1rem;
}
.m-top p {
    display: inline;
    background-color: #a51318;
    border-radius: 1rem;
    margin-left: 20%;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}
.about-us {
    width: 50%;
    margin: 0 auto 7rem auto;
}
.about-us h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
}
.about-us p {
    font-size: 1.5rem;
    margin: 0;
}
.about-us p span {
    font-weight: bold;
}
.our-history {
    border-top: 1px solid #a51318;
    color: #a51318;
    text-align: center;
}
.our-history h3 {
    font-size: 3rem;
    font-weight: 400;
}
.our-history h3 span {
    font-weight: bold;
}
.our-history p {
    font-size: 2rem;
    font-weight: 300;
    width: 70%;
    margin: 0 auto 10rem auto;
}
@media (min-width: 768px) {
    .our-history p {
        width: 50%;
    }
}
.our-history-images {
    display: flex;
    justify-content: center;
    line-height: 1.4;
}
.our-history-images img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 2px solid #a51318;
    padding: 1rem;
}
.our-history-images h3 {
    color: #a51318;
    font-size: 4.5rem;
    margin: 0;
    font-weight: 900;
}
.our-history-images p {
    font-size: 2.3rem;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
}
.mission {
    text-align: center;
    flex-basis: 50%;
}
.view {
    text-align: center;
    flex-basis: 50%;
}
.border-bot {
    width: 70%;
    max-width: 70%;
    border-bottom: 2px solid #a51318;
}
.main-jobs{
    font-family: 'Open Sans', sans-serif;
}
.contenedor-jobs{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.titulo-jobs{
    grid-column: 2/12;
    grid-row: 1/3;
    text-align: center;
    font-size: 2.7rem;
    font-weight: bold;
    font-family: "Open Sans";
}
.form-jobs{
    grid-column: 4/10;
    grid-row: 3/9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}
.form-jobs .nombre-jobs,
.form-jobs .nac-jobs,
.form-jobs .correo-jobs,
.form-jobs .apellido-jobs {
    width: 45%;
    margin: 1rem;
    border: 2px solid #a51318;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1rem;



}
.form-jobs .btn-jobs{
    border: 3px solid #fde37e;
    background: #a51318;
    border-radius: 1rem;
    color: #fdf3c5;
    margin: 1rem;
    width: 94%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Open Sans";
}
.form-jobs .text{
    display: none;
}
.customFileInput{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.form-jobs .inputWrap{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 80%;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 1rem;
    border: 2px solid #a51318;
    border-radius: 1rem;
    margin-left: 1rem;
}
.form-jobs .btWrap{
    grid-column: 3/6;
    grid-row: 2/3;
    margin: 1rem;
    padding: 0;
    text-align: right;
    width: 82%;
    font-size: 1.2rem;
}
.form-jobs .bt{
    text-decoration: none;
    background: #a51318;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    border: 3px solid #a51318;
    background: #a51318 ;
    border-radius: 0 1rem 1rem 0;
    color: #fdf3c5;
}


