html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #fdf3c5;
    font-family: 'Open Sans', sans-serif;
}
html{
    overflow: hidden;
}
/* Color #49b6c2 Blue - #fde37e Orange - #a51318 Red */
/*  font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif; */

/** Utilites **/
.container {
    width: 97%;
    margin: 0 auto;
}
@media (min-width: 480px) {
    .container {
        width: 95%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 92%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 90%;
        max-width: 1100px;
    }
}
.section {
    padding: 3rem 0;
}

/* Main-Page */
.main-page {
    height: 100vh;
    background-color: black;
}

/** Header-Nav **/
.bar {
    background-color: #a51318;
}
.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
    height: 6rem;
}
.main-nav a {   
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2rem;
    margin-right: 3rem;
    text-decoration: none;
    transition: all .3s linear;
}
.main-nav a:last-of-type {
    margin-right: 0;
}
.main-nav a:hover {
    color: black;
    text-decoration: underline;
    padding-bottom: 1rem;
}

/** Main **/
.main-content {
    display: flex;
    height: 75vh;
}
.line-blue {
    background-color: #49b6c2;
    height: 2px;
    width: 100%;
    margin-top: .8rem;
}
.addres {
    position: relative;

    padding-top: 30vh;
}
.addres p {
    transform: rotate(-90deg);
}
.addres a {
    text-decoration: none;
    color: white;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
.addres i {
    transform: rotate(90deg);
    padding: 1.2rem 0 0 1.2rem;
    font-size: 2.3rem;
}
.title {
    position: relative;
    width: 69%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title img {
    width: 70rem;
}

.promo{
    position: absolute;
    top: 35%;
    right: -25rem;
    background: #a51318;
    padding-left: 4.8rem;
    border-radius: 1rem;
}
.promo .thumb {
    width: 25rem;

}
.promo .thumb h2{
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    position: absolute;
    color: #fde37e;
    transform: rotate(-90deg);
    top :24%;
    left: -5.5rem;
}
.promo .thumb img{
    width: 100%;
    height: 20rem;
    vertical-align: top;
}



 







