html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #fdf3c5;
    font-family: 'gothambook';
    overflow: hidden;
}
img {
    max-width: 100%;
}
h2 {
    font-family: 'gothambold', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 0;
    font-weight: bold;
}

@font-face {
    font-family: 'gothambold';
    src: url('../fonts/sm_1-webfont.eot');
    src: url('../fonts/sm_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sm_1-webfont.woff2') format('woff2'),
         url('../fonts/sm_1-webfont.woff') format('woff'),
         url('../fonts/sm_1-webfont.svg#gothambold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'gothambook';
    src: url('../fonts/sm_2-webfont.eot');
    src: url('../fonts/sm_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sm_2-webfont.woff2') format('woff2'),
         url('../fonts/sm_2-webfont.woff') format('woff'),
         url('../fonts/sm_2-webfont.svg#gothambook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'heineken';
    src: url('../fonts/sm_3-webfont.eot');
    src: url('../fonts/sm_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sm_3-webfont.woff2') format('woff2'),
         url('../fonts/sm_3-webfont.woff') format('woff'),
         url('../fonts/sm_3-webfont.svg#heinekenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Color #49b6c2 Blue - #fde37e Orange - #a51318 Red */
/*  font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif; */

/** Utilites **/
.container {
    width: 97%;
    margin: 0 auto;
}
@media (min-width: 480px) {
    .container {
        width: 95%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 92%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 90%;
        max-width: 1100px;
    }
}
.section {
    padding: 3rem 0;
}
.bg {
    background: #fdf3c5;
}
.line-black {
    background-color: black;
    height: 1rem;
    width: 100%;
}
.line-blue {
    background-color: #49b6c2;
    height: .2rem;
    width: 100%;
}
.line-left {
    position: relative;
    font-family: 'gothambold', sans-serif;
    background-color: #a51318;
    width: 20%;
    height: .5rem;
    margin-top: 5rem;
}
.m-top {
    margin-top: -1.1rem;
}
.m-top p {
    font-family: 'gothambook', sans-serif;
}

/* Main-Page */
.main-page {
    height: 100vh;
    overflow: auto;
}

/** Header-Nav **/
.bar {
    background-color: #a51318;
}
.sm-log img {
    z-index: 2;
    left: 6rem;
    position: absolute;
    width: 12%;
    height: 15%;
    color: white;
}

.ribbon::after {
    z-index: 2;
    content: '';
    position: absolute;
    left: 5rem;
    width: 13%;
    height: 19%;
    border-left: 85px solid black;
    border-right: 86px solid black;
    border-bottom: 42.5px solid transparent;
}
.ribbon2::after {
    z-index: 2;
    content: "";
    position: absolute;
    left: 4.9rem;
    width: 13%;
    height: 19%;
    border-left: 86px solid #49b6c2;
    border-right: 87px solid #49b6c2;
    border-bottom: 43px solid transparent;
    padding-bottom: 13.4rem;
}
.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
    height: 6rem;
}
.main-nav a {   
    font-family: 'heineken';
    color: white;
    font-size: 2rem;
    margin-right: 3rem;
    text-decoration: none;
    transition: all .3s linear;
}
.main-nav a:last-of-type {
    margin-right: 0;
}
.main-nav a:hover {
    color: black;
    text-decoration: underline;
    padding-bottom: 1rem;
}

/** Main **/
.main-content {
    display: flex;
    height: 75vh;
}
.video{
    z-index: 1;
    position: absolute;
    width: 1515px;
    top: 7.8%;
    left: -3%;
}
.video::after {
    content: "";
}
.addres {
    z-index: 2;
    position: absolute;
    padding-top: 25vh;
    left: -6rem;
}
.addres p {
    transform: rotate(-90deg);
}
.addres a {
    text-decoration: none;
    color: white;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: 'heineken';
    font-size: 2rem;
}
.addres i {
    transform: rotate(90deg);
    padding: 1.2rem 0 0 1.2rem;
    font-size: 2.3rem;
}
.title {
    z-index: 2;
    top: 21%;
    left: 16.5%;
    position: absolute;
    width: 69%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title img {
    width: 70rem;
}
.promo{
    z-index: 2;
    position: absolute;
    flex-basis: 25%;
    top: 35%;
    right: -25rem;
    background: #a51318;
    padding-left: 4.8rem;
    border-radius: 1rem;
}
.promo .thumb {
    width: 25rem;
    background: #a51318;
}
.promo .thumb h2{
    font-size: 4rem;
    font-family: 'heineken';
    position: absolute;
    color: #fdf3c5;
    transform: rotate(-90deg);
    top :24%;
    left: -5.5rem;
}
.promo .thumb img{
    width: 100%;
    height: 20rem;
    vertical-align: top;
}
.texto-promo{
    text-align: center;
    color: #fdf3c5;
    font-family: 'gothambold';
    background: #a51318;
    border: 0px solid #000000;
    border-radius: 0px 0px 0px 2rem;
    width: 25rem;
    height: 14rem;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
}
.texto-promo p{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: .5rem;
    line-height: 2.5rem;
}
.texto-promo p span{
    font-family: "gothambook", Helvetica, sans-serif;
    font-weight: 400;
}

/** Footer **/
.line-footer {
    margin-top: 8rem;
    background-color: #fde37e;
    height: .2rem;
    width: 100%;
    text-align: center;
}
.line-footer::before { 
    content: ' - BUENOS AIRES - ';
    position: relative;
    font-family: 'gothambold', sans-serif;
    font-weight: bold;
    color: #a51318;
    background-color: #fde37e;
    border-radius: 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    top: -.8rem;
}
.underline-footer{
    background-color: #a51318;
    width: 100%;
    height: 5rem;
}

/** Banner **/
.banner {
    background-image: url(../img/SM-4.jpg);
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.location {
    background: #fdf3c5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.location h3{
    color: #a51318;
    font-size: 2rem;
    font-weight: 700;
}
.titulo{
    width: 100%;
    padding-bottom: 1rem;
    border: #a51318;
    border-bottom: 2px solid #a51318;
}
.location p{
    color: #a51318;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
}
.location .texto{
    grid-column: 2/12;
    grid-row: 1/2;
    display: flex;
    align-items: flex-end;
}
.location .map{
    grid-row: 2/8;
    grid-column: 2/12;
    border: 1rem solid #a51318;
    border-radius: 1rem;
    height:70%;
}
.location .texto-2{
    margin-top: 2rem;
    grid-row: 6/8;
    grid-column: 2/12;
}
.location .map iframe {
    width: 100%;
    min-width: 10rem;
    height: 100%;

}
.location .parrafos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/** Nosotros **/
.main-about-us {
    font-family: 'gothambold', sans-serif;
}
.m-top p {
    display: inline;
    background-color: #a51318;
    border-radius: 1rem;
    margin-left: 20%;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}
.about-us {
    width: 50%;
    margin: 0 auto 7rem auto;
}
.about-us h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
}
.about-us p {
    font-size: 1.5rem;
    margin: 0;
}
.about-us p span {
    font-family: 'gothambold', sans-serif;
}
.our-history {
    border-top: 1px solid #a51318;
    color: #a51318;
    text-align: center;
}
.our-history h3 {
    font-size: 3rem;
    font-weight: 400;
    font-family: "gothambook", Helvetica, sans-serif;

}
.our-history h3 span {
    font-family: 'gothambold', sans-serif;
}
.our-history p {
    font-family: "gothambook", Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    width: 70%;
    margin: 0 auto 10rem auto;
}
@media (min-width: 768px) {
    .our-history p {
        width: 50%;
    }
}
.our-history-images {
    display: flex;
    justify-content: center;
    line-height: 1.4;
}
.our-history-images img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 2px solid #a51318;
    padding: 1rem;
}
.our-history-images h3 {
    color: #a51318;
    font-size: 4.5rem;
    margin: 0;
    font-weight: bold;
}
.our-history-images p {
    font-size: 2.3rem;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
}
.mission {
    text-align: center;
    flex-basis: 50%;
}
.view {
    text-align: center;
    flex-basis: 45%;
}
.under-line-red {
    width: 70%;
    max-width: 70%;
    border-bottom: 2px solid #a51318;
}
.flex-underline-red {
    display: flex;
    justify-content: center;
}
.flex-underline-red div {
    flex-basis: 25%;
    border-bottom: 2px solid #a51318;
    margin: 4rem auto 0 auto;
}

 /** Experiencia **/
.experience-talk {
    width: 45%;
    margin: 0 auto;
}
.experience-talk p {
    font-family: 'gothambook', sans-serif;
    font-size: 1.4rem;
    margin: 0;
}
.experience-talk div {
    text-align: center;
}
.experience-talk a i {
    font-size: 7rem;
    margin: 7rem 0;
}
.border-top {
    border-bottom: 1px solid #a51318;
    width: 75%;
    margin: 0 auto;
}
.certificate-images {
    display: flex;
    justify-content: center;
    font-family: 'gothambold', sans-serif;
    padding-top: 5rem;
    text-align: center;
}
.certificate-year {
    flex-basis: 33.3%;
}
.certificate-year img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 5px solid #a51318;
}
.certificate-year h3 {
    font-size: 4rem;
    font-weight: 900;
    color: #a51318;
    margin: 1.5rem 0 0 0;
}
.certificate-year p {
    margin: 0;
    font-size: 2rem;
}
.certificate-year p span {
    font-size: 3rem;
    font-weight: 900;
    border-top: 2px solid #a51318;
    line-height: 1.5;
    padding: 0 7%;
}
.share-experience {
    width: 60%;
    margin: 12rem auto;
    font-family: 'gothambold', sans-serif;
}
.share-experience h3{
    font-size: 3.5rem;
    margin-bottom: 0;
}
.share-experience p {
    font-size: 1.4rem;
    margin: 0;
}
.galery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4rem auto;
    font-family: 'gothambook', sans-serif;
    text-align: center;
}
.image-galery {
    flex: 0 0 calc(33.3% - 2rem);
    margin-bottom: 3rem;
}
@media (min-width: 768px) {
    .image-galery {
        flex: 0 0 calc(33.3% - 4rem);
    }
}
.image-galery img {
    width: 100%;
    height: 30rem;
    border: 1.5px solid #7e7e7e;
}
.image-galery .img-1 {
    font-size: 2.5rem;
    position: relative;
}
.image-galery .img-1 {
    font-size: 2.5rem;
    position: relative;
}
.image-galery .img-1::before {
    font-family: "Font Awesome 5 Free";
    content: '\f004';
    font-size: 8rem;
    position: absolute;
    top: -3rem;
    left: 12.3rem;
    
}
.image-galery .text {
    font-size: 2.5rem;
    position: relative;
}
.image-galery .text {
    font-size: 2.5rem;
    position: relative;
}
.image-galery .text::after {
    font-family: 'gothambook', sans-serif;
    content: '';
    font-size: 8rem;
    position: absolute;
    top: 0rem;
    left: 12.3rem;
    
}
.blanco{
    color: white;
}

/** Trabaja con Nosotros **/
.main-jobs{
    font-family: 'gothambook', sans-serif;
}
.contenedor-jobs{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.titulo-jobs{
    grid-column: 2/12;
    grid-row: 1/3;
    text-align: center;
    font-size: 2.7rem;
    font-family: "gothambold";
}
.form-jobs{
    grid-column: 4/10;
    grid-row: 3/9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}
.form-jobs .nombre-jobs,
.form-jobs .nac-jobs,
.form-jobs .correo-jobs,
.form-jobs .apellido-jobs {
    width: 45%;
    margin: 1rem;
    border: 2px solid #a51318;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "gothambold";
}
.form-jobs .btn-jobs{
    border: 3px solid #fde37e;
    background: #a51318;
    border-radius: 1rem;
    color: #fdf3c5;
    margin: 1rem;
    width: 94%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "gothambold";
}
.form-jobs .text{
    display: none;
}
.customFileInput{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.form-jobs .inputWrap{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 80%;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 1rem;
    border: 2px solid #a51318;
    border-radius: 1rem;
    margin-left: 1rem;
}
.form-jobs .btWrap{
    grid-column: 3/6;
    grid-row: 2/3;
    margin: 1rem;
    padding: 0;
    text-align: right;
    width: 82%;
    font-size: 1.2rem;
}
.form-jobs .bt{
    text-decoration: none;
    background: #a51318;
    padding: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.9rem;
    border: 3px solid #a51318;
    background: #a51318 ;
    border-radius: 0 1rem 1rem 0;
    color: #fdf3c5;
}
.form-jobs .asuntos{
    border: 3px solid #a51318;
/*     background: #a51318; */
    border-radius: 1rem;
/*     color: #fdf3c5; */
    margin: 1rem;
    width: 94%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "gothambold";
}
.form-jobs .mensaje{
    margin: 1rem;
    width: 94%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "gothambold";
    border: 2px solid #a51318;
    border-radius: 1rem;
    background-color: white;
    height: 10rem;
    max-width: 59rem;
    min-width: 59rem;
    min-height: 15rem;
}